<nav>
  <ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="about.html">About Me</a></li>
    <li><a href="skills.html">Skills</a></li>
    <li><a href="services.html">Services</a></li>
    <li>
      <a href="blog.html">Blog ▾</a>
      <ul>
        <li><a href="https://goddessbest-qa.tistory.com/" target="_blank">QA Fun Blog</a></li>
        <li><a href="https://medium.com/@mpark_99491" target="_blank">Medium</a></li>
      </ul>
    </li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</nav>
